/* -- Main stylesheet, by Matt Pike, 2017 -- */
body{font-family: 'Raleway', sans-serif; line-height:200%}
/*h1,h2,h3,h4,h5,h6{font-family: 'Josefin Sans', sans-serif; color:red;}*/
main{padding:0 2em;}
aside{background:#f5f5f5; padding:0 2em;}
.additionalInfo{/*display:none; JS should be used to hide "read more" content by default so it is visible in the event JS is disabled */}
.pure-g{letter-spacing:0.05em}
.cbp_tmtimeline > li .cbp_tmlabel{padding:0.1px 2em;}
h1{color:#ee856c}
main h2{color:#ccc; border-bottom:1px solid #eee}
main p{color:#999}
button{text-align:left; border:0; background:none; padding:0; border-bottom:2px dashed #bad5e4;}

/* -- Tweaks to VerticalTimeline CSS -- */
.cbp_tmlabel p{color:white}
.cbp_tmtimeline > li .cbp_tmicon{top:initial}
.cbp_tmtimeline > li > button {margin: 0 0 15px 25%;}
.cbp_tmtimeline > li.readMoreListItem .cbp_tmicon{cursor:pointer; font-size:22px; font-weight: bold; line-height: 35px;}